<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripcrew.activity.model.mapper.UserActivityMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_activities (user_id, activity_type, trip_plan_id, trip_plan_title, place_name, visit_day)
        VALUES (#{userId}, #{activityType}, #{tripPlanId}, #{tripPlanTitle}, #{placeName}, #{visitDay})
    </insert>

    <select id="findRecentByUserId" resultType="UserActivity">
        SELECT ua.id,
               ua.user_id,
               ua.activity_type,
               ua.trip_plan_id,
               COALESCE(tp.title, ua.trip_plan_title) AS trip_plan_title,
               ua.place_name,
               ua.visit_day,
               ua.created_at
          FROM user_activities ua
          LEFT JOIN trip_plans tp ON tp.id = ua.trip_plan_id
         WHERE ua.user_id = #{userId}
         ORDER BY ua.created_at DESC, ua.id DESC
         LIMIT #{limit}
    </select>
</mapper>
