<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripcrew.activity.model.mapper.UserActivityMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_activities (user_id, activity_type, trip_plan_id, trip_plan_title, place_name, visit_day)
        VALUES (#{userId}, #{activityType}, #{tripPlanId}, #{tripPlanTitle}, #{placeName}, #{visitDay})
    </insert>

    <select id="findRecentByUserId" resultType="UserActivity">
        SELECT id, user_id, activity_type, trip_plan_id, trip_plan_title, place_name, visit_day, created_at
          FROM user_activities
         WHERE user_id = #{userId}
         ORDER BY created_at DESC, id DESC
         LIMIT #{limit}
    </select>
</mapper>
