<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripcrew.region.model.mapper.RegionMapper">

    <select id="findSidos" resultType="SidoResponse">
        SELECT sido_code AS code,
               sido_name AS name
          FROM sidos
         ORDER BY sido_code
    </select>

    <select id="findGugunsBySidoCode" resultType="GugunResponse">
        SELECT gugun_code AS code,
               gugun_name AS name
          FROM guguns
         WHERE sido_code = #{sidoCode}
         ORDER BY gugun_name
    </select>
</mapper>
