<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.attraction.model.mapper.AttractionMapper">

    <resultMap id="attractionResultMap" type="com.enjoytrip.attraction.model.dto.AttractionDto">
        <id property="no" column="no"/>
        <result property="contentId" column="content_id"/>
        <result property="title" column="title"/>
        <result property="contentTypeId" column="content_type_id"/>
        <result property="areaCode" column="area_code"/>
        <result property="siGunGuCode" column="si_gun_gu_code"/>
        <result property="lat" column="latitude"/>
        <result property="lng" column="longitude"/>
        <result property="image" column="first_image1"/>
        <result property="tel" column="tel"/>
        <result property="addr1" column="addr1"/>
        <result property="addr2" column="addr2"/>
        <result property="homepage" column="homepage"/>
        <result property="overview" column="overview"/>
    </resultMap>

    <select id="getSidos" resultType="com.enjoytrip.attraction.model.dto.SidoDto">
        SELECT sido_code AS sidoCode, sido_name AS sidoName
        FROM sidos
        ORDER BY sido_code
    </select>

    <select id="getGuguns" parameterType="int" resultType="com.enjoytrip.attraction.model.dto.GugunDto">
        SELECT gugun_code AS gugunCode, gugun_name AS gugunName
        FROM guguns
        WHERE sido_code = #{sidoCode}
        ORDER BY gugun_code
    </select>

    <select id="getAttractions" parameterType="map" resultMap="attractionResultMap">
        SELECT no, content_id, content_type_id, title, addr1, addr2, tel, first_image1, area_code, si_gun_gu_code, latitude, longitude, homepage, overview
        FROM attractions
        <where>
            <if test="sidoCode != null and sidoCode != 0">
                area_code = #{sidoCode}
            </if>
            <if test="gugunCode != null and gugunCode != 0">
                AND si_gun_gu_code = #{gugunCode}
            </if>
            <if test="contentTypeId != null and contentTypeId != 0">
                AND content_type_id = #{contentTypeId}
            </if>
        </where>
        ORDER BY title
    </select>

</mapper>
